<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page</title>
</head>
<body>
    <h1>This is home page</h1>
    <h3><%= 1+2 %></h3>
    <h1>Sum of 1 + 2 = <%= 1+2 %></h1>
    <h2>Multiply of 11 * 2 = <%= 11*2%></h2>
    <h1><%= "dhruv patel".toUpperCase() %></h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi quia, necessitatibus eos mollitia similique nostrum sit, ipsum sint nulla ut quibusdam, illum debitis quaerat amet suscipit fugiat officiis adipisci maxime?
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit commodi incidunt omnis, qui eaque non optio minus, dicta ipsa libero aspernatur laborum. Fugit porro impedit minima tempore dolores culpa assumenda?
    </p>
    <button>Click me!</button> 
</body>
</html> 